@media all and (max-width: 1200px) {
  .container {
    -width: 640px;
  }
}

@media all and (max-width: 1040px) {
  .container-with-blocks {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}
