@media all and (max-width: 1054px) {
  .container-with-blocks {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .main-container h1 {
    flex-wrap: wrap;
    font-size: 30px;
    margin-top: 100px;
  }

  .main-container h2 {
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  .container-with-blocks > div {
    margin-bottom: 15px;
  }

  .buttons-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titles {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form-container {
    justify-content: center;
  }

  .button_get {
    margin-right: 5px;
  }

  .contact-consultation {
  }

  .footer-contacts-container_inner {
    padding: 10px 10px 35px 10px;
    flex-wrap: wrap;
  }

  .contact-block-info {
    color: white;
  }

  .request-container > div {
    margin: 0px;
    padding: 10px 0px;
  }

  .footer-header-container {
    flex-wrap: wrap;
    border-bottom: none;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 1050px) and (min-width: 650px) {
  .container-with-blocks {
    justify-content: space-around;
    flex-direction: row;
  }
}

@media all and (max-width: 410px) {
  .social-media-container {
    justify-content: start;
  }
}

@media all and (max-width: 383px) {
  .button_get {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 650px) and (min-width: 360px) {
  .button-container-contact {
    margin: 0;
    padding: 0;
  }

  .contact-us {
    height: 56px;
    right: 31px;
  }

  .menu_header label {
    display: flex;
  }

  .menu_header {
    display: block;
    flex-direction: column;
  }

  .menu__item a {
    background-color: #f6f6f6;
    font-weight: 400;
    font-size: 30px;
  }

  .menu_header_titles {
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #f7f7f7;
  }

  .button-stairs {
    display: inline-block;
  }

  .navbar {
    position: fixed;
    width: 100%;
    z-index: 20;
    justify-content: space-around;
    background: #f7f7f7;
  }

  .container-navbar {
    padding: 0px;
  }

  .main-container {
    padding-top: 40px;
  }

  .main-container h1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-bottom: 35px;
  }

  .main-container h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }

  .buttons-main {
    padding-top: 35px;
  }

  .rights-text {
    text-align: center;
  }

  .request-title {
    font-size: 20px;
    padding: 0px 5px;
  }

  .request-subtitle {
    padding: 5px 5px 15px 5px;
    text-align: center;
  }

  .menu_header {
    order: 3;
  }

  .menu_header_titles {
    display: none;
    height: 0;
    opacity: 0;
  }

  input:checked ~ .menu_header_titles {
    position: absolute;
    top: 75px;
    right: 0px;
    height: 120px;
    padding: 10px 0px;
    width: 100%;
    max-height: 100%;
    opacity: 1;
    display: block;
  }

  .textarea {
    max-width: 286px;
  }

  .footbar-logo {
    margin-right: 20px;
  }

  .contact-form_rows {
    flex-direction: column;
  }

  .contact-form_item {
    padding-bottom: 10px;
  }

  .contact-form-container_inner {
    align-items: center;
  }

  .contact-form-small {
    width: 290px;
  }

  .contact-titles {
    align-items: center;
  }

  .title-make-appointment {
    text-align: center;
  }

  .request-container {
    padding: 40px;
  }

  .contact-button:not(.input-button-main),
  .contact-us:not(.input-button-main) {
    width: 280px;
  }
}
