@media all and (max-width: 1050px) {
  .navbar {
    justify-content: space-around;
  }

  .container-with-blocks {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .main-container h1 {
    flex-wrap: wrap;
    font-size: 30px;
    margin-top: 100px;
  }

  .main-container h2 {
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  .container-with-blocks > div {
    margin-bottom: 15px;
  }

  .buttons-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titles {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form-container {
    justify-content: center;
  }

  .button_get {
    margin-right: 5px;
  }

  .contact-consultation {
    height: min-content;
  }

  .get-in-touch {
    clear: both;
  }

  .footer-contacts-container {
    max-height: 310px;
  }

  .footer-contacts-container_inner {
    padding: 10px 10px;
    flex-wrap: wrap;
  }

  .request-container > div {
    margin: 0px;
    padding: 10px 0px;
  }

  .footer-header-container {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 1050px) and (min-width: 650px) {
  .container-with-blocks {
    justify-content: space-around;
    flex-direction: row;
  }
}

@media all and (max-width: 650px) and (min-width: 360px) {
  .button-container-contact {
    margin: 0;
    padding: 0;
  }

  .contact-us {
    height: 50px;
  }

  .menu_header label {
    display: flex;
  }

  .menu_header {
    display: block;
    flex-direction: column;
  }

  .menu_header_titles {
    flex-direction: column;
    height: 100%;
    background: #f7f7f7;
  }

  .button-stairs {
    display: inline-block;
  }

  .button-stairs:checked {
    background: chocolate;
  }

  .navbar {
    background: #f7f7f7;
  }

  .container-navbar {
    padding: 0px;
  }

  .main-container h1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-bottom: 35px;
  }

  .main-container h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }

  .buttons-main {
    padding-top: 35px;
  }

  .rights-text {
    text-align: center;
  }

  .contact-form-container_inner {
  }

  .request-subtitle {
    padding-bottom: 10px;
  }
}
