* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
img {
  vertical-align: top;
}

body {
  font-size: 16px;
  color: #252b42;
  font-family: "Open Sans", serif;
}

.header {
  width: 100%;
  background: url(./img/cover_background.png) no-repeat;
  background-size: cover;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.main-title {
  font-family: Martel;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
}
.main-subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #737373;
  letter-spacing: 0.2px;
}

.main-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.font-orange {
  font-weight: 600;
  color: #d0a144;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  height: 104px;
}

.navbar__logo {
  font-family: Martel;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #252b42;
  text-decoration: none;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.menu__item a {
  color: #737373;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.2px;
}

.buttons {
  display: flex;
  width: 93px;
  align-items: center;
  margin-right: 25px;
}

.button_get {
  padding: 10px 36px;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  width: 182px;
  height: 48px;

  background: #784f33;
  border-radius: 37px;
}

.button_learn {
  padding: 10px 36px;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #784f33;
  background: none;
  border-radius: 37px;
  border: 1px solid #784f33;
}

.button {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.button_stairs {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 2.38%;
}

.button-search {
  margin-left: 23px;
  background: url(./img/loupe_icon.svg) no-repeat center center;
}

.button-bag {
  background: url(./img/bag_icon.svg) no-repeat center center;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-container h1 {
  width: 693px;
  height: 130px;
  font-family: "Martel";
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: 0.2px;
  margin-top: 210px;
}

.main-container h2 {
  width: 539px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin: 35px 0px;
  color: #737373;
}

.buttons-main {
  display: flex;
  justify-content: space-between;
  width: 347px;
}

.buttons-main__get {
  width: 182px;
  height: 48px;
  background: #784f33;
  border-radius: 37px;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.buttons-main__learn {
  width: 158px;
  height: 48px;
  left: 0px;
  top: 0px;
  background: none;
  border-radius: 37px;
  border: 1px solid #784f33;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 28px;
  color: #784f33;
  text-align: center;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.book {
  margin-top: 55px;
  margin-bottom: 50px;
  background-color: #fff;
  width: 328px;
  height: 619px;
  border-radius: 10px;
}

.title {
  width: 234px;
  height: 32px;
  font-family: Martel;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 40px 45px;
}

.forms input[type="text"] {
  height: 50px;
  width: 245px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
  background: #f9f9f9;
  text-indent: 21px;
}

.forms input::placeholder {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.forms__titles {
  margin: 10px 0px;
  font-weight: bold;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
}

.forms {
  margin: 0 auto;
  width: 248px;
  height: 369px;
}

.form__button {
  margin-top: 40px;
  width: 248px;
  height: 58px;
  background: #295c7a;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-family: "Open Sans";
  font-weight: bold;
  cursor: pointer;
}

.forms__item_vector {
  position: relative;
}

.forms__item_vector::after {
  position: absolute;
  background: url(./img/vector_icon.svg) no-repeat;
  content: "";
  width: 14px;
  height: 8px;
  right: 21px;
  bottom: 23px;
  cursor: pointer;
}

.title-container {
  margin: 80px 93px;
  display: flex;
  width: 864px;
  height: 100px;
  flex-direction: column;
  align-items: center;
}

.subtitle-container {
  margin-top: 10px;
  width: 431px;
  height: 40px;
}

.advice-container {
  width: 100%;
  margin: 0px 0px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 85px;
}

.advice-block {
  width: 328px;
  height: 385px;
  background: #f6e4d7;
  border-radius: 10px;
}

.advice-head {
  letter-spacing: 0.1px;
  font-family: Martel;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 328px;
  height: 132px;
  border-radius: 10px;
}

.advice-head img {
  padding-right: 15px;
}

.advice-content {
  display: flex;
  width: 328px;
  height: 253px;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #a9d6ff;
  box-sizing: border-box;
  border-radius: 11px;
}

.advice-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 50px;
}

.advice-list_element::before {
  content: "-";
}

.advice-list_element {
  padding-bottom: 5px;
  line-height: 24px;
}

.last {
  margin-right: 5px;
}

.video-block {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.video-title-container {
  margin-bottom: 50px;
}
.video-block::after {
  margin-top: -353px;
  display: block;
  content: "";
  width: 100%;
  height: 350px;
  background: rgb(19, 47, 63);
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 877px;
  height: 440px;
  margin: 0px auto;
  margin-bottom: 90px;
}

.button-video {
  position: absolute;
}

.video-container::after {
  display: block;
  content: "";
  background: red;
}

.clients-review-block {
  background-color: #f3f3f3;
  display: flex;
}

.client-review-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 244px;
  margin-bottom: 87px;
}

.client-review-block {
  display: flex;
  width: 327px;
  height: 244px;
  background: #ffffff;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 5px;
}

.client-review-block_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 257px;
  height: 184px;
  margin: 30px 35px;
}

.client-review-block_container-stars {
  height: 22px;
}

.client-review-block_container-client {
  display: flex;
  justify-content: space-between;
  width: 153px;
  height: 50px;
}

.client-info_profession {
  color: #252b42;
}

.attorneys-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 373px;
  margin-bottom: 99px;
}

.attorneys-card {
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 373px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.attorneys-card-photo {
  width: 100%;
  height: 231px;
}

.attorneys-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0px 48px;
  width: 232px;
  height: 142px;
}

.attorneys-card-info_name {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}

.attorneys-card-info_post {
  margin: 5px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.attorneys-card-info_media {
  display: flex;
  justify-content: space-between;
  width: 92px;
  height: 24px;
}

.attorneys-card-info_inner {
  display: flex;
  padding-top: 30px;
  height: 82px;
  width: 140px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.contact-block {
  width: 100%;
  background: url(./img/contacts_background.png) no-repeat;
  background-size: cover;
}
