* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
img {
  vertical-align: top;
}

body {
  height: 100%;
  font-size: 16px;
  color: #252b42;
  font-family: "Open Sans", serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  background: url(./img/cover_background.png) no-repeat;
  background-size: cover;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0px 5px;
}

.main-title {
  font-family: Martel;
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0.2px;
}

.main-subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #737373;
  letter-spacing: 0.2px;
  text-align: center;
}

.main-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

.font-orange {
  font-weight: 600;
  color: #d0a144;
}

.navbar {
  padding: 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
}

.navbar__logo {
  font-family: Martel;
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  color: #252b42;
  text-decoration: none;
}

.menu-container {
  flex-wrap: wrap;
  display: flex;
  align-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 373px;
}

.menu__item a {
  display: block;
  color: #737373;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;

  text-align: center;
  letter-spacing: 0.2px;
}

.menu_header {
  align-items: center;
  display: flex;
  justify-content: right;
}

.menu_header_titles {
  width: 280px;
  height: 24px;
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  align-items: center;
}

.button_get {
  padding: 10px 36px;
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;
  color: #fff;
  width: 182px;
  height: 48px;

  background: #784f33;
  border-radius: 37px;
}

.button_learn {
  padding: 10px 36px;
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;
  color: #784f33;
  background: none;
  border-radius: 37px;
  border: 1px solid #784f33;
}

.button {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.button-stairs {
  display: none;
  background: url(./img/stairs_icon.svg) no-repeat center center;
}

.button-search {
  margin-left: 23px;
  background: url(./img/loupe_icon.svg) no-repeat center center;
}

.button-bag {
  background: url(./img/bag_icon.svg) no-repeat center center;
}

.main-container {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-container h1 {
  max-width: 693px;
  font-family: "Martel";
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 112%;
  letter-spacing: 0.2px;
  margin-top: 210px;
}

.main-container h2 {
  max-width: 539px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  margin: 35px 0px;
  color: #737373;
}

.buttons-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 347px;
}

.buttons-main__get {
  width: 182px;
  height: 48px;
  background: #784f33;
  border-radius: 37px;
  font-size: 14px;
  line-height: 200%;
  color: #ffffff;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.buttons-main__learn {
  width: 158px;
  height: 48px;
  left: 0px;
  top: 0px;
  background: none;
  border-radius: 37px;
  border: 1px solid #784f33;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 200%;
  color: #784f33;
  text-align: center;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.book {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 328px;
  height: 619px;
  border-radius: 10px;
}

.title {
  width: 234px;
  height: 32px;
  font-family: Martel;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  margin: 40px 45px;
}

.input-form {
  height: 50px;
  width: 245px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
  background: #f9f9f9;
  text-indent: 21px;
}

.input-form::placeholder {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
}

.forms__titles {
  margin: 10px 0px;
  font-weight: bold;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 171%;
}

.forms {
  margin: 0 auto;
  width: 248px;
  height: 369px;
}

.form__button {
  margin-top: 40px;
  width: 248px;
  height: 58px;
  background: #295c7a;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-family: "Open Sans";
  font-weight: bold;
  cursor: pointer;
}

.forms__item_vector {
  position: relative;
}

.forms__item_vector::after {
  position: absolute;
  background: url(./img/vector_icon.svg) no-repeat;
  content: "";
  width: 14px;
  height: 8px;
  right: 21px;
  bottom: 23px;
  cursor: pointer;
}

.title-container {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 80px 0px;
}

.subtitle-container {
  margin-top: 10px;
  max-width: 431px;
  height: 40px;
}

.advice-container {
  width: 100%;
  margin: 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 85px;
}

.advice-block {
  width: 328px;
  height: 385px;
  background: #f6e4d7;
  border-radius: 10px;
}

.advice-head {
  letter-spacing: 0.1px;
  font-family: Martel;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 328px;
  height: 132px;
  border-radius: 10px;
}

.advice-head img {
  padding-right: 15px;
}

.advice-content {
  display: flex;
  width: 328px;
  height: 253px;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #a9d6ff;
  box-sizing: border-box;
  border-radius: 11px;
}

.advice-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 50px;
}

.advice-list_element::before {
  content: "-";
}

.advice-list_element {
  padding-bottom: 5px;
  line-height: 171%;
}

.last {
  margin-right: 5px;
}

.video-block {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.video-block::after {
  margin-top: -380px;
  display: block;
  content: "";
  width: 100%;
  height: 350px;
  background: rgb(19, 47, 63);
}

.video-container_main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 877px;
  height: 440px;
  margin-bottom: 90px;
  padding: 0px 10px;
}

.button-video {
  display: block;
  position: absolute;
  z-index: 0;
}

.clients-review-block {
  background-color: #f3f3f3;
}

.client-review-container {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1048px;
  padding-bottom: 87px;
}

.client-review-block {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 327px;
  height: 244px;
  background: #ffffff;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 5px;
  padding-bottom: 10px;
}

.client-review-block_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 257px;
  height: 184px;
}

.client-review-block_container-stars {
  height: 22px;
}

.client-review-block_container-client {
  display: flex;
  justify-content: space-between;
  width: 153px;
  height: 50px;
}

.client-info_profession {
  color: #252b42;
}

.attorneys-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 99px;
}

.attorneys-card {
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 373px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.attorneys-card-photo {
  width: 100%;
  height: 231px;
}

.attorneys-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0px 48px;
  width: 232px;
  height: 142px;
}

.attorneys-card-info_name {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}

.attorneys-card-info_post {
  margin: 5px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.attorneys-card-info_media {
  display: flex;
  justify-content: space-between;
  width: 92px;
  height: 24px;
}

.attorneys-card-info_inner {
  display: flex;
  padding-top: 30px;
  height: 82px;
  width: 140px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.contact-block {
  width: 100%;
  background: rgb(243, 243, 243);
  background-size: cover;
}

.contact-block_background {
  margin: 0 auto;
  max-width: 1440px;
  height: 821px;
  background: url(./img/contacts_background.png) no-repeat;
  background-size: cover;
}

.contact-form-container {
  display: flex;
  max-width: 1050px;
  padding-bottom: 100px;
}

.contact-form-container_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  max-width: 602px;
}

.contact-titles {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-bottom: 40px;
}

.title-contact-us {
  display: flex;
  text-align: left;
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}
.title-make-appointment {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0.2px;
}

.contact-form_rows {
  width: 597px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-form-small {
  width: 285px;
}

.contact-form-big {
  width: 290px;
}

.contact-message {
  display: flex;
  width: 598px;
  height: 140px;
}

.contact-message::placeholder {
  flex-wrap: wrap;
  width: 598px;
  height: 140px;
  text-align: start;
}

.contact-form-items-container {
  display: flex;
  flex-direction: column;
  width: 602px;
  height: 280px;
  justify-content: space-between;
}
.textarea {
  padding-top: 20px;
  padding-left: 5px;
  width: 595px;
  height: 140px;
}
:root {
  --plyr-color-main: #072e44;
}

.video-container_main .plyr__control--overlaid svg {
  display: none;
}

.video-container .video-container_main .plyr__control--overlaid {
  width: 100px;
  height: 100px;
  background: url(./img/button-video_icon_arrow.svg);
}

.video-container .video-container_main .plyr__control--overlaid:hover {
  background: url(./img/button-video_icon_arrow.svg);
}

.contact-button {
  background: #784f33;
  width: 215px;
}

.contact-consultation {
  display: flex;
  align-items: center;
  align-content: center;
  max-width: 1244px;
  background: #fff;
  min-height: 143px;
}
.request-container {
  display: flex;
  justify-content: space-between;
  width: 1052px;
}

#request-titles-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
}

.request-title {
  font-size: 24px;
  line-height: 133%;
}

.request-subtitle {
  font-weight: 400;
}

#button-container-contact {
  display: flex;
  width: 236px;
  justify-content: center;
  padding: 0px;
}

.contact-us {
  width: 158px;
  height: 58px;
  margin-top: 0px;
  padding: 0px;
}
.footer {
  background: #252b42;
}

.footer-header-container {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  height: 138px;
  border-bottom: 1px solid #364067;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1049px;
}

.footbar-logo {
  color: #fff;
  width: 100px;
  display: flex;
}

.social-media-container {
  display: flex;
  justify-content: center;
  width: 236px;
}

.social-media__inner {
  width: 156px;
}

.footer-contacts-container {
  display: flex;
  align-items: center;
  max-width: 1050px;
  height: 310px;
}

.footer-contacts-container_inner {
  display: flex;
  justify-content: space-between;
  width: 1041px;
  height: 100%;
  align-items: center;
}

.contact-block-footer {
  display: flex;
  flex-direction: column;
  width: 148px;
  justify-content: space-between;
}

.get-in-touch {
  display: flex;
  width: 321px;
  height: 131px;
}

.contact-block-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 126px;
}

.contact-block-info {
  font-weight: 600;
}

.contact-block-title {
  align-items: left;
  justify-content: left;
  color: #fff;
  width: 117px;
  height: 24px;
}

.p-contact {
  font-size: 12px;
  font-weight: 400;
}

.your-email {
  width: 100%;
  height: 58px;
}

.input-button::after {
  display: none;
}

.input-button-main {
  position: absolute;
  width: 117px;
  height: 58px;
  right: 0px;
  bottom: 21px;

  background: #d0a144;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
}

.rights-block {
  height: 74px;
  width: 100%;
  background: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
}

.rights-text {
  font-weight: 700;
  padding: 25px 0px;
  color: #fff;
}

.input-form-light::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #bdbdbd;
}
